<!DOCTYPE html>
<head>

    <title>Dr.Khardah: Welcome</title>

</head>
<body style="background-color:rgb(250, 199, 152)">

<div class='container' id='container'>
    <br><br>
    <h1 style='text-align:center;color:rgb(15, 80, 80)'><big><b><u>Dr. Khardah</u></b></big></h1>
    <div class='form'>
        <form action='/search' method='POST'>
            <div class='specialization' align=center>
                <label for="specialization"><b><big>Choose the Specialization:</big></b></label>
                <select id="specialization" name="specialization">
                    <option value="select_the_specialization">select the specialization</option>
                    <option value="ayurvedic">Ayurvedic Physician</option>
                    <option value="cardiologist">cardiologist</option>
                    <option value="chest_specialist">Chest Specialist</option>
                    <option value="dentist(surgeon)">Dental Surgeon</option>
                    <option value='dermatologist'>Dermatologist (skin specialist)</option>
                    <option value="diabetologist">Diabetologist</option>
                    <option value="dietician">Dietician</option>
                    <option value="dvd(related_to_sex)">DVD (related to sex)</option>
                    <option value="endocrenologist">Endocrenologist</option>
                    <option value="ent">ENT</option>
                    <option value="gastroentrologist">Gastroentrologist</option>
                    <option value="general">General Physician</option>
                    <option value="general(sugar_specialist)">General (Sugar Specialist)</option>
                    <option value="gynaecologist">Gynaecologist</option>
                    <option value="homeopathic">Homeopathic Physician</option>
                    <option value="nephrologist">Nephrologist</option>
                    <option value="neurologist">Neurologist</option>
                    <option value="ophthalmologist(surgeon)">Ophthalmologist (Eye Surgeon)</option>
                    <option value="optometrist">Optometrist</option>
                    <option value="orthopaedician">Orthopaedician (Ortho. Surgeon)</option>
                    <option value="paediatrician(child_specialist)">Paediatrician (Child Specialist)</option>
                    <option value="psychiatrist">Psychiatrist</option>
                    <option value="psychologist">Psychologist</option>
                    <option value="surgeon(general_and_laparoscopic)">Surgeon (General & Laparoscopic)</option>
                    <option value="urologist">Urologist</option>

                </select>

                <label for='day'><b><big>Choose your preferred day:</big></b></label>
                <select id='day', name="day">
                    <option value='choose_a_day'>Choose a day</option>
                    <option value='sunday'>Sunday</option>
                    <option value='monday'>Monday</option>
                    <option value='tuesday'>Tuesday</option>
                    <option value='wednesday'>Wednesday</option>
                    <option value='thursday'>Thursday</option>
                    <option value='friday'>Friday</option>
                    <option value='saturday'>Saturday</option>
                    <option value='na'>NA</option>


                </select>
                <br><br><br>

                <div class='search_button' align='center' >

                <input type="submit" id='search' value='SEARCH' style="background-color:rgb(71, 130, 128);color:azure;padding:8px;width:100px" ></div>
                </div>
        </form>
    </div>

        <br><br><br><br><br><br>
        <div align='center' >
            <p><h4><big style="color:rgb(5, 110, 110)"><u>NOTE</u>:</big> <b> 'Specialization' </b>means which kind of doctor you require (for example: General, Cardiologist etc.)</h4></p>
            <br><br><br>
            <p ><h5 style="color:rgb(8, 46, 34)"><b><u>*All information displayed here are totally in accordance with the data collected from respective Pharmacies/Clinics/Health Care Services/Professionals. We don't claim ANY authority regarding those.</u></b></h5></p>
        </div>
    </div>
</div>
</body>
</html>
